@inherits LayoutComponentBase
@inject INotificationService NotificationService
@inject AuthenticationStateProvider AuthenticationStateProvider;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <MatToastContainer />
            @Body
        </article>
        <br/>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        AuthenticationStateProvider.AuthenticationStateChanged += AuthenticationStateChanged;
    }

    async void AuthenticationStateChanged(Task<AuthenticationState> task)
    {
        var state = await task;
        if(state.User.Identity?.IsAuthenticated == true)
        {
            NotificationService.Start();
        }
    }
}