@using System.Net;

<MatDialog @bind-IsOpen="@isOpen">
    <MatDialogTitle>Error!</MatDialogTitle>
    <MatDialogContent>
        @if(Errors.Length > 0)
        {
            <ul>
            @foreach (var error in Errors)
            {
                <li>@error</li>
            }
            </ul>
        }
        else
        {
            <p>@Message</p>
        }
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => Close())">OK</MatButton>
    </MatDialogActions>
</MatDialog>
 
@code
{
    bool isOpen;
    public bool IsOpen
    { 
        get => isOpen;
        private set => isOpen = value;
    }

    public string? Message { get; private set; }
    public string[] Errors { get; private set; } = Array.Empty<string>();

    public void Open(string? message = null)
    {
        Message ??= message;
        IsOpen = true;
        StateHasChanged();
    }

    public void ShowError<TResult>(ResponseResult<TResult> response)
    {
        var problem = response.GetProblem();
        if(problem.Errors.Count > 0)
        {
            Errors = problem.Errors.SelectMany(e => e.Value).ToArray();
            Open();
            return;
        }
        Open(problem.Detail ?? problem.Title);
    }

    public void ShowError(Exception exception)
    {
        Console.WriteLine(exception);
        Open(exception.Message);
    }

    public void Close()
    {
        IsOpen = false;
        Message = null;
        StateHasChanged();
    }
}