@inject INotificationService NotificationService

@if (Errors.Count > 0)
{
    <ul class="validation-errors">
        @foreach (var error in Errors)
        {
            @foreach (var errorMessage in error.Value)
            {
                <li class="validation-message">@errorMessage</li>
            }
        }
    </ul>
}

@code {
    [Parameter]
    public IDictionary<string, string[]> Errors { get; set; } = new Dictionary<string, string[]>();

    public void ShowErrors(ProblemDetails? problemDetails)
    {
        ArgumentNullException.ThrowIfNull(problemDetails);

        if(problemDetails.Errors.Count > 0)
        {
            Errors = problemDetails.Errors;
        }

        NotificationService.AddErrorToast(problemDetails);

        StateHasChanged();
    }

    public void Clear()
    {
        Errors.Clear();
        StateHasChanged();
    }
}
